body {
	background-color: gray;
	height: 39em;
}
#first {
	width: 90%;
	height:30%;
	background-color: white;
	margin: 0 auto;
}
#first p {
	height: 65%;
	text-align: center;
	font-size: 13px;
	font-family: cursive;
}
button {
	height: 17%;
	width: 12%;
	position: relative;
	left: 5%;
	color: white;
	font-size: 100%;
}
#b1 {
	background-color: red;
	border-color: red;
}
#b2 {
	background-color: blue;
	border-color: blue;
	margin-left: 1%;
}
#second {
	height: 50%;
	width: 90%;
	background-color: white;
	margin: 4% auto;
}
img {
	height: 50%;
	width: 90%;
	margin: 5% auto;
	position: relative;
	left: 5%;
}
#second p {
	font-size: 13px;
	font-family: cursive;
	text-align: center;
	margin: 0 2.5%;
}
footer {
	height: 6%;
	width: 100%;
	background-color: black;
	position: absolute;
	bottom: 0;
}
a {
	position: absolute;
	bottom: 25%;
	right: 5%;
	color: white;
	text-decoration: none;
}
#a1 {
	margin-right: 10%;
}